@import url("control.css");

/*== Header Start ==*/
header .topbar{ border-bottom:1px solid #dddddd; }
header .topbar .container{ position:relative; width:100%; display:flex; align-items:center; justify-content:space-between; }
header .topbar ul{ position:relative; display:flex; align-items:center; border-right:1px solid #dddddd; border-left:1px solid #dddddd; }
header .topbar ul li{ position:relative;}
header .topbar ul li::before{ content:""; position:absolute; top:50%; left:0; transform:translateY(-50%); width:1px; height:60%; background-color:#dddddd;}
header .topbar ul li:first-child::before{ display:none; }
header .topbar ul li a{ display:block; padding:15px 10px; transition:var(--trans); color:#000; }
header .topbar ul li a:hover{ color:var(--accent_color); }
header .topbar ul.top-contact li a{ font-family:var(--roboto_font); font-size:15px; line-height:1.3; font-weight:600; }
header .topbar ul.top-contact li a i{ margin-right:10px; }

header .btm-bar{ position:sticky; left:0; top:5px; width:100%; z-index:99999; transition:all 0.5s ease-in-out;
}
header .btm-bar .nav{ position:relative; width:100%; min-height:100px; display:flex; align-items:center; justify-content:space-between; z-index:999; }
header .btm-bar.sticky{ position:fixed; background-color:rgba(66,61,96,0.8); backdrop-filter:blur(30px); top:0; width:100%;}
header .btm-bar .nav a.logo{ font-family:var(--roboto_font); font-size:25px; line-height:1.3; font-weight:600; color:#000; text-transform:uppercase; transition:var(--trans); }
header .btm-bar.sticky .nav a.logo,
header .btm-bar.sticky .nav ul.menu li a{ color:#fff; }
header .btm-bar .nav ul.menu{ display:flex; align-items:center; margin-left:10%; }
header .btm-bar .nav ul.menu li{ position:relative; }
header .btm-bar .nav ul.menu li a{ font-family:var(--roboto_font); font-size:15px; line-height:1.3; font-weight:600; text-transform:uppercase; color:#000; display:block; padding:10px 15px; margin:0; transition:var(--trans); }
header .btm-bar .nav ul.menu li a::after{ content:url(../images/down-arrow.png); position:relative; top:-3px; left:6px; }
header .btm-bar.sticky .nav ul.menu li a::after{ content:url(../images/down-arrow-white.png); }
header .btm-bar .nav ul.menu li a.active,
header .btm-bar .nav ul.menu li a:hover{ color:var(--accent_color); }
header .btm-bar .nav ul.menu li ul{ position:absolute; top:100%; left:0; width:120px; background-color:var(--accent_color); opacity:0; visibility:hidden; border-radius:4px; overflow:hidden; transition:var(--trans); }
header .btm-bar .nav ul.menu li:hover > ul{ opacity:1; visibility:visible; }
header .btm-bar .nav ul.menu li ul li a::after,
header .btm-bar.sticky .nav ul.menu li ul li a::after{ content:""; }
header .btm-bar .nav ul.menu li ul li a{ color:#fff; }
header .btm-bar .nav ul.menu li ul li a:hover{ color:#fff; background-color:rgba(0,0,0,0.5);}
/*== Header End ==*/

/*== banner Start ==*/
.banner .bannerSlder{ position:relative; width:100%; } 
.banner .bannerSlder .item .img-block{ position:relative; }
.banner .bannerSlder .item .img-block img{ width:100%; height:711px; object-fit:cover; }
.banner .bannerSlder .item .desc{ position:absolute; top:50%; left:0; right:0; transform:translateY(-50%); }
.banner .bannerSlder .item .desc h1{ font-family:var(--roboto_font); font-size:50px; line-height:1.2; font-weight:600; text-transform:uppercase; color:#000; }
.banner .bannerSlder .item .desc h1 span{ display:block; }
.banner .bannerSlder .item .desc .btn_accent{ padding:15px 35px; margin:25px 0; }
.banner .owl-carousel .owl-dots { text-align:center; -webkit-tap-highlight-color:transparent; position:absolute; top:70%; left:9%; }
.banner .owl-carousel button{ background-color:#e0e0e0; width:20px; height:20px; border-radius:50%; margin:5px; outline:none; }
.banner .owl-carousel .owl-dots .owl-dot span {position:relative; width:20px; height:20px; background:none; margin: 0; padding:0; transition:var(--trans); }
.banner .owl-carousel .owl-dots .owl-dot span::before{ content:""; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:35%; height:35%; border-radius:50%; background-color:rgba(0,0,0,0.5); }
.banner .owl-carousel .owl-dots .owl-dot.active span,
.banner .owl-carousel .owl-dots .owl-dot:hover span { background-color:var(--accent_color); }
.banner .owl-carousel .owl-dots .owl-dot.active span::before,
.banner .owl-carousel .owl-dots .owl-dot:hover span::before{ background-color:#fff; }
.banner .owl-carousel .owl-nav button.owl-prev, 
.banner .owl-carousel .owl-nav button.owl-next { display: none; }
/*== banner End ==*/

/*== Tab-block End ==*/
.tab-block ul.nav-tabs{ position:relative; width:100%; align-items:center; justify-content:space-between; padding:0; margin:0; }
.tab-block ul.nav-tabs li{ margin:0; padding:0;}
.tab-block ul.nav-tabs li a.nav-link{ font-family:var(--roboto_font); font-size:15px; line-height:1.3; font-weight:600; text-transform:uppercase; color:#000; border:none; border-bottom:2px solid transparent; padding:30px 50px; transition:var(--trans); display:flex; align-items:center; }
.tab-block ul.nav-tabs li a.nav-link.active,
.tab-block ul.nav-tabs li a.nav-link:hover{ border-bottom:2px solid var(--accent_color);}
.tab-block ul.nav-tabs li a.nav-link::before{  content:url(../images/wireless-headphones.png); margin-right:10px;}
.tab-block  .btm-section{ padding-bottom:100px; }
.tab-block  .btm-section .tab-content .items{ position:relative; width:100%; display:flex; align-items:center; justify-content:space-between; padding:100px 0 0 0; }
.tab-block  .btm-section .tab-content .items .text-block{ width:38%; }
.tab-block  .btm-section .tab-content .items .text-block .heading h2,
.tab-block  .btm-section .tab-content .items .text-block .heading p{ font-weight:500; color:#727272; margin:20px 0 0 0; }
.tab-block  .btm-section .tab-content .items .text-block ul{ margin: 30px 0 38px; }
.tab-block  .btm-section .tab-content .items .text-block ul li{ font-family:var(--roboto_font); font-size:15px; line-height:1.3; font-weight:500; color:#727272;  margin-bottom:13px; display:flex; }
.tab-block  .btm-section .tab-content .items .text-block ul li::before{ content:url(../images/right.png); margin-right:14px; }
.tab-block  .btm-section .tab-content .items .img-block{ width:50%; height:auto; border-radius:50%; overflow:hidden; }
.tab-block  .btm-section .tab-content .items .img-block img{ width:100%; height:auto; transition:var(--trans);}
.tab-block  .btm-section .tab-content .items .img-block:hover img{ transform:scale(1.1); }
/*== Tab-block End ==*/

/*== Touch-block Start ==*/
.touch-block{ background:url(../images/touch-bg.jpg) no-repeat top center; background-attachment:fixed; background-size:cover; }
.touch-block .items { position:relative; width:45%; margin:0 auto; display:flex; align-items:center; justify-content:space-between; flex-wrap:wrap; }
.touch-block .items .item{ margin-top:55px; }
.touch-block .items .item:nth-of-type(1),
.touch-block .items .item:nth-of-type(2){ margin-top:0; }
.touch-block .items .item .heading h2{ color:#fff; text-transform:capitalize; font-weight:500; margin:28px 0 0 0; }
.touch-block .items .item .heading p{ color:#fff; margin:20px 0 0 0; }
.touch-block .items .item .heading p span{ display:block; }
/*== Touch-block End ==*/

/*== Music-block Start ==*/
.music-block .container{ position:relative; width:100%; }
.music-block .heading p{ margin:25px 0; }
.music-block .musicSlider .img-block{ width:70%; height:auto; margin:0 auto; }
.owl-theme .owl-nav { margin-top:0; }
.music-block .owl-carousel .owl-dots { text-align:center; -webkit-tap-highlight-color:transparent; position:absolute; top:100%; left:50%; transform:translateX(-50%); margin:20px 0 0 0; }
.music-block .owl-carousel button{ background-color:#e0e0e0; width:25px; height:25px; border-radius:50%; margin:5px; outline:none; }
.music-block .owl-carousel .owl-dots .owl-dot span {position:relative; width:25px; height:25px; background:none; margin: 0; padding:0; transition:var(--trans); }
.music-block .owl-carousel .owl-dots .owl-dot span::before{ content:""; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:35%; height:35%; border-radius:50%; background-color:rgba(0,0,0,0.5); }
.music-block .owl-carousel .owl-dots .owl-dot.active span,
.music-block .owl-carousel .owl-dots .owl-dot:hover span { background-color:var(--accent_color); }
.music-block .owl-carousel .owl-dots .owl-dot.active span::before,
.music-block .owl-carousel .owl-dots .owl-dot:hover span::before{ background-color:#fff; }
.music-block .owl-carousel .owl-nav button.owl-prev, 
.music-block .owl-carousel .owl-nav button.owl-next { display: none; }
/*== Music-block End ==*/

/*== custom-say-block Start ==*/
/*== custom-say-block End ==*/

/*== video-block Start ==*/
.video-block .container{ position:relative; width:60%; display:flex; align-items:center; justify-content:space-between; }
.video-block .modal-btn button { border:none; background-color:var(--accent_color); width:80px; height:80px; border-radius:50%; outline:none; animation:triple 2.5s ease-in-out infinite; display:flex; align-items:center; justify-content:center; }
@keyframes triple{ 0%{box-shadow:0px 0px 0 0px rgba(255, 255, 255, 0.5);} 100%{box-shadow:0px 0px 0px 10px rgba(255, 255, 255, 0);} }
.video-block .modal .modal-dialog  iframe{ width:100%; height:300px; border:none; border-radius:5px; }
.video-block .modal .modal-dialog{ position:relative; }
.video-block .modal .modal-dialog button.btn{ position:absolute; top:18%; right:-5%; }
.video-block .modal-btn button i.bx { color:#fff; font-size:60px; }
.video-block{ background:url(../images/touch-bg.jpg) no-repeat top center; background-attachment:fixed; background-size:cover; }
.video-block .items { position:relative; width:60%; display:flex; align-items:center; justify-content:space-between; flex-wrap:wrap; }
.video-block .items .item{ margin-top:10px; }
.video-block .items .heading h2 { color:#fff; line-height:1.5; letter-spacing:1px; }
.video-block .items .item .heading h2{ font-size:45px; color:#fff; text-transform:none; font-weight:500; margin:28px 0 0 0; }
.video-block .items .item .heading h2 span{ color:var(--accent_color); }
.video-block .items .item .heading h3{ font-family:var(--roboto_font); font-size:18px; color:#fff; line-height:1.3; text-transform:none; font-weight:500; margin:15px 0 0 0; }
.video-block .items .item .heading p{ color:#fff; margin:15px 0 0 0; }
.video-block .items .item .heading p span{ display:block; } 
/*== video-block End ==*/

/*== spaces-block Start ==*/
.spaces-block .heading h2{ position:relative; display:inline-block; padding-bottom:20px; }
.spaces-block .heading h2::after{ content:""; position:absolute; bottom:0; left:50%; transform:translateX(-50%); width:50px; height:2px; background-color:var(--accent_color); }
.spaces-block .heading p{ margin-top:13px }
.spaces-block .heading p span { display:block; }
.spaces-block .card-columns .card{ border:none; }
.spaces-block .card-columns .card ul{ position:relative; }
.spaces-block .card-columns .card ul li.heading{ font-size:18px; font-weight:600; margin-bottom:25px; } 
.spaces-block .card-columns .card ul li{ font-family:var(--roboto_font); font-size:15px; color:#727272; line-height:1.3; text-transform:none; font-weight:500; margin:0 0 10px 0; } 
/*== spaces-block End ==*/

/*== Trendng-block Start ==*/
.trendng-block .heading h2{ position:relative; padding-bottom:18px; display:inline-block; }
.trendng-block .heading h2::after{ content:""; position:absolute; bottom:0; left:50%; transform:translateX(-50%); width:40px; height:2px; background-color:var(--accent_color); }
.trendng-block .heading p{ margin-top:8px; }
.trendng-block .card{ border:none; margin-top:60px; box-shadow:0px 0px 50px 0px rgba(0, 0, 0, 0.05); }
.trendng-block .card { border:none; padding:30px 50px; }
.trendng-block .card img{transform:scale(1); transition:var(--trans);}
.trendng-block .card:hover img{transform:scale(1.1);}
.trendng-block .card .card-body{ padding:25px 0 0 0; }
.trendng-block .card .card-body h3,
.trendng-block .card .card-body h4.prise{ font-family:var(--roboto_font); font-size:18px; color:var(--gray-color); line-height:1.3; font-weight:500; }
.trendng-block .card .card-body h4.prise{ margin:18px 0; }
.trendng-block .card .card-body a.btn_accent{ background:none; color:var(--accent_color); border:2px solid var(--accent_color); font-weight:600; transition:var(--trans); }
.trendng-block .card .card-body a.btn_accent:hover{ background:var(--accent_color); color:#fff;  }
.trendng-block .offer-section{ margin-top:100px; }
.trendng-block .offer-section .heading h2{ line-height:1.5; }
.trendng-block .offer-section .heading h2 span{ display:inline-block; }
.trendng-block .offer-section .heading h2::after{ display:none; }
.trendng-block .offer-section a.btn_accent{ margin-top:35px; }
/*== Trendng-block End ==*/

/*== Subscribe-block Start ==*/
.subscribe-block{ background:url(../images/hero-img.jpg) no-repeat top center; background-attachment:fixed; background-size:cover;  }
.subscribe-block .container{ position:relative; width:100%; display:flex; align-items:center; justify-content:space-between; }
.subscribe-block .subscribe-btn{ width:50%; display:flex; align-items:center; justify-content:space-between; background-color:#fff; border-radius:30px; }
.subscribe-block .subscribe-btn input[type="email"]{font-family:var(--roboto_font); font-size:15px; border:none; outline:none; background:none; box-shadow:none; margin-left:18px; }
.subscribe-block .subscribe-btn button.btn_accent{ outline:none; border:none; padding:20px 40px; border-radius:0 30px 30px 0; }
/*== Subscribe-block End ==*/

/*== Footer Start ==*/
footer{ background-color:#0a0a0a; }
footer .container{ position:relative; width:100%; }
footer ul li.heading,
footer ul li a,
footer p{ font-family:var(--roboto_font); font-size:15px; line-height:1.5; font-weight:500; color:#e1e1e1e1; }
footer ul li a{ display:inline-block; }
footer ul li a:hover{ color:var(--accent_color); }
footer .top-section{ display:flex; align-items:center; justify-content:space-between; padding:40px 0; border-bottom:1px solid #c2c2c2; }
footer .top-section ul{ display:flex; align-items:center; }
footer .top-section ul li a{ padding:10px 25px; font-size:17px; }
footer .top-section ul.links li a:first-child{ padding-left:0; }
footer .top-section ul.socal-block li a:last-child{ padding-right:0; }
footer .top-section ul.socal-block li a i.bx{  color:#e1e1e1e1; font-size:22px; }
footer .middle-section{ padding:40px 0; }
footer .middle-section ul{ margin:15px 0;  }
footer .middle-section ul li.heading{ font-size:20px; margin-bottom:25px; }
footer .middle-section ul li a{ padding-bottom:10px; }
footer .btm-section{ border-top:1px solid #c2c2c2; padding:40px 0; }
footer .btm-section p{ font-size:18px; margin:0; }
/*== Footer End ==*/

/*== Bottom to top button Start ==*/
a#back2Top { overflow:hidden; z-index:999; display:none; cursor:pointer; position:fixed; bottom:13%; right:10%; color:#555; background:var(--accent_color); box-shadow:0 0 10px 0 rgba(0,0,0,0.2); text-align:center; text-decoration:none; padding:8px; border-radius:25px; }
a#back2Top i.bx{ font-size:25px; display:flex; color:#fff; }
/*== Bottom to top button End ==*/

/*== @media screen Start ==*/
@media screen and ( max-width:991px){
	header .btm-bar .nav ul.menu{ position:fixed; width:70%; height:100vh; top:0; left:0; display:block; background-color:#262626; z-index:999; transform:translateX(-100%); opacity:0; visibility:hidden; transition:var(--trans); padding:10px 0 0 0; }
    header .btm-bar.active nav ul.menu{ transform:translateX(0); opacity:1; visibility:visible; margin:0;}
    header .btm-bar nav .toggle{ display:block; position:relative; width:30px; height:2px; z-index:9999; }
    header .btm-bar nav .toggle::before{ content:""; position:absolute; top:-8px; left:0; width:100%; height:100%; box-shadow:0 8px 0 #000; background-color:#000; transition:var(--trans); }
    header .btm-bar nav .toggle::after{ content:""; position:absolute; top:8px; left:0; width:100%; height:100%; background-color:#000; transition:var(--trans); }
    header .btm-bar.sticky nav .toggle::before,
    header .btm-bar.sticky nav .toggle::after{ background-color:#fff; }
    header .btm-bar.sticky nav .toggle::before{ box-shadow:0 8px 0 #fff; }
    header .btm-bar.active nav .toggle::before { top:0; transform:rotate(45deg); box-shadow:0 0 0 #000; }
    header .btm-bar.active nav .toggle::after { top:0; transform:rotate(-45deg); box-shadow:0 0 0 #000; }
    header .btm-bar.active .nav ul.menu li a{color:#fff; }
    header .btm-bar.active .nav ul.menu li a::after{ content:url(../images/down-arrow-white.png);}
    header .btm-bar.active .nav ul.menu li ul li a::after{ content:""; }
    header .btm-bar .nav ul.menu li{ position:static;}
    header .btm-bar .nav ul.menu li:hover > ul {position:relative;left: 30px; width: 80%; }
	header .btm-bar .nav ul.menu li a{ display:block; }
	.tab-block .btm-section .tab-content .items { flex-direction:column-reverse; padding:60px 0 0 0; }
	.tab-block ul.nav-tabs li a.nav-link { padding:22px 5px; }
	.touch-block .items { width:100%; }
	.touch-block .items .item:nth-of-type(3){ margin-top:0; }
	.video-block .container { width:100%; }
	.subscribe-block .container {flex-direction:column; }
	.subscribe-block .subscribe-btn { width:80%; margin-top:15px; }
	.banner .owl-carousel .owl-dots { left:15%; }
	.tab-block .btm-section .tab-content .items .text-block,
	.tab-block .btm-section .tab-content .items .img-block { width:100%; }
	.tab-block .btm-section .tab-content .items .text-block{ margin-top:50px; }
	.trendng-block .offer-section .heading h2 span { display:inline; }
}
@media screen and ( max-width:767px){ 
	section { padding:60px 0; }
	.heading h2 { font-size: 20px; }
	 header .btm-bar .nav { min-height:60px; }
	.banner .bannerSlder .item .desc h1 { text-align:center; }
	.banner .bannerSlder .item .desc h1 span {display:inline;  }
	.banner .bannerSlder .item .desc .purchase-btn{ text-align: center; }
	.banner .owl-carousel .owl-dots { left:50%; transform: translateX(-50%); }
	.tab-block .btm-section .tab-content .items { text-align:center;}
	.tab-block .btm-section .tab-content .items .text-block ul li {display:block; }
	.tab-block  .btm-section {padding-bottom:60px; }
	.touch-block .items .item:nth-of-type(3){ margin-top:55px; }
	.music-block .heading { margin:80px 0 0 0; text-align: center; }
	.video-block .container { flex-direction:column-reverse; }
	.video-block .modal-btn {margin-top:45px; }
	.video-block .modal-btn button { width:60px; height:60px; }
	.video-block .modal-btn button i.bx { font-size:45px; }
	.video-block .items .item{ text-align:center; }
	.video-block .items .item .heading h2 { font-size:38px;}
	.video-block .items .heading h2 { text-align:center; }
	.video-block .items { width:100%; }
	.trendng-block .offer-section a.btn_accent { margin-top:10px; }
	.spaces-block .card-columns { orphans:0;  widows:0; }
	 footer .top-section ul { display:inline-block; }
	 footer ul li a { display:block; }
	 .trendng-block .card { margin-top:25px;}
}
@media screen and ( max-width:578px){
	header .topbar {display: none;}
}
@media screen and ( max-width:425px){ 
	.banner .bannerSlder .item .img-block::after{ content:""; position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5); }
	.banner .bannerSlder .item .desc h1 { font-size: 40px; color:#fff; }
	.banner .bannerSlder .item .img-block img { object-position: 60%; }
	.tab-block ul.nav-tabs { flex-direction:column; }
	.touch-block .items { text-align:center; }
	.touch-block .items .item {margin-top: 30px; width: 100%; }
	.touch-block .items .item:nth-of-type(2){ margin-top:30px; }
	.touch-block .items .item .heading h2,
	.touch-block .items .item .heading p { margin: 15px 0 0 0; }
	.video-block .items .item .heading h2 { margin: 15px 0 0 0; }
	.video-block .items .item{ width:100%; }
	.video-block .items .item .heading h3,
	.video-block .items .item .heading p {margin:8px 0 0 0; }
	.subscribe-block .subscribe-btn button.btn_accent { padding:11px 15px; }
	.spaces-block .card-columns .card ul li.heading {margin-bottom: 15px; }
	footer .btm-section p { font-size:16px; }
	a#back2Top { bottom:10px; right:8px; padding:5px; }
	footer .middle-section { padding:25px 0; }
	footer .middle-section ul li.heading { margin-bottom:15px; }
	footer .middle-section ul { margin:10px 0; }
	footer .top-section { padding:25px 0; }
}
/*== @media screen End ==*/
